
<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
	  <li><p>&copy; ND. All rights reserved. Powered by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="//twitter.com/idiaminx"><span class="fa fa-twitter" width="15" style="padding: 10px;" /></a><a href="//facebook.com"><span class="fa fa-facebook" width="15" style="padding: 10px;"></a><a href="//googleplus.com"><span class="fa fa-google" width="15" style="padding: 10px;"></a><a href="//github.com"><span class="fa fa-github" width="15" style="padding: 10px;"></a><a href="/feed.xml"><span class="fa fa-rss" width="15" style="padding: 10px;"></a><a href="//linkedin.com"><span class="fa fa-linkedin" width="15" style="padding: 10px;"></a><a href="//thumblr.com"><span class="fa fa-thumblr" width="15" style="padding: 10px;"></a><br><br></li>
	  <li><a href="#"><span>Disclaimer</span></a></li>
	  <li><a href="#"><span>Empleo</span></a>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
   
  </div>
</footer>

